PORT=3000
APP_NAME=观澜视频平台
DATABASE_URL="mysql://root@127.0.0.1:3306/video_player"
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
STORAGE_BACKEND=minio
MINIO_ENDPOINT=127.0.0.1
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=video-player
MINIO_PUBLIC_BASE_URL=http://127.0.0.1:9000
MINIO_PUBLIC_DOWNLOAD=true
SRS_RTMP_BASE=rtmp://127.0.0.1/live
SRS_PLAY_BASE=http://127.0.0.1:8080/live
